/* --------
Home
---------- */
.home-section {
  position: relative;
}

.home-section .full-screen {
  padding: 50px 0;
  min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home-section .home-text {
  text-align: end;
}

.home-section .home-text a {
  margin-top: 20px;
}

.home-section .home-text p {
  color: var(--text-black-300);
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.home-section .home-text h2 {
  font-size: 55px;
  font-weight: 700;
  color: var(--text-black-700);
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

.home-section .home-text h1 {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-black-600);
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 3s steps(30, end) forwards, blinking 1s infinite;
}

.home-section .home-img .img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 10px;
}

.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  0% {border-color: transparent}
  50% {border-color: var(--text-black-300)}
  100% {border-color: transparent}
}